*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
    /* width: 200px; */
    /* height: auto; */
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: red 3px solid;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.card img{
    /* width: 100%; */
    /* height: 200px; */
    border-radius: 10px 10px 0 0;
}