*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6.25rem auto;
    grid-template-columns: 6.25rem 1fr;
}

header{
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: #333;
    color: white;

    grid-column-start: 1;
    grid-column-end: 3;
}

aside{
    background-color: black ;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit , 20rem);
    gap: 2rem;
    padding: 1rem;
    grid-auto-rows: auto;
    background-color: #863333;
}

.card{
    border: 2px solid black;
    background-color: yellow;

}